
</div>
</div>
</div>
<div class="container">
<div class="row">
  <footer class="footer">
    <div class="row">
      <div class="col">
        <img src="https://user-images.githubusercontent.com/96031819/218300324-0eba5571-82f9-4a24-af2a-48c8fa935780.svg" alt="bearclaw svg logo" class="img-fluid">
      </div> 
      <div class="col">I made this blog with a cool static site generator called <a href="https://github.com/donuts-are-good/bearclaw">bearclaw</a>, try it out! </div>
      <div class="col">
        <a rel="me" href="https://ani.work/@taken">Mastodon</a><i class="fab fa-mastodon"></i><br>
      </div>
      <div class="col"><span style="color:deeppink">&hearts;</span> <b>Coffee is the best!</b><br>MIT License<br>2023</div>
    </div>
  </footer>
</div>
</div>
</body>
</html>